body {
  margin: 0;
  background: radial-gradient(ellipse 80% 80% at bottom, #fff -300%, #313 110%);
  color: #fff;
}

h1 {
  margin: 2% 0 2%;
}

table {
  background-color: rgba(0, 0, 0, 0.2);
  margin: 3% auto 0;
}

td {
  height: 7vw;
  width: 7vw;
  border-radius: 50%;
  border: outset #444 2px;
}
